
*.db
*.db-shm
*.db-wal
*.ipch
*.opendb
*.obj
*.cache
*.deps
*.exp
*.ilk
*.log
*.pdb
*.lastbuildstate
*.tlog
*.idb
*.exe
Win/mnist/.vs/mnist/v16/.suo
Win/mnist/x64/Debug/mnist.lib
Win/mnist/x64/Debug/mnist.vcxproj.FileListAbsolute.txt
Win/mnist/mnist.vcxproj.user
Win/mnist/x64/Debug/data/mnist_train.csv
Win/mnist/x64/Debug/data/mnist_test.csv
